@import "tailwindcss";

@theme {
  --font-display: "Lexend", sans-serif;
  --font-body: "Lexend", sans-serif;

  --color-background: #0a0a0a;
  --color-foreground: #e5e7eb;

  --color-accent: #56020a;
  --color-accent-foreground: #ffffff;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
